[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
openai = "*"
langchain-openai = "*"
langchain-community = "*"
langchainhub = "*"
pydantic = "*"
fastapi = "*"
uvicorn = "*"
langchain-mongodb = "*"

[dev-packages]

[requires]
python_version = "3.12"
